<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Calculator</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- My Style File-->
    <link rel="stylesheet" href="../public/css/style.css"> 

    <!-- JS -->
    <script src="../public/js/calculator.js" ></script>

</head>
<body>
    <br>
    <br>

    <!-- Calculator Start -->

    <table class="text-center d-flex justify-content-center"> 
        <tr > 
            <td colspan="4">
                <input type="text" id="result">
            </td>
        </tr>

        <tr>
            <!-- Top Row -->
            <td>
                <button type="button" class="btn btn-dark" onclick="clearResult()">C</button>
            </td>
            <td>
                <button type="button" class="btn btn-dark" onclick="plusMinus()">+ / -</button>
            </td>
            <td>
                <button type="button" class="btn btn-dark" onclick="percentage()">%</button>
            </td>
            <td>
                <button type="button" class="btn btn-dark" onclick="buttonNumber('/')">/</button>
            </td>

        </tr>

        <tr>
            <!-- 2nd Row -->
            <td>
                <button type="button" class="btn btn-dark" onclick="buttonNumber('7')">7</button>
            </td>
            <td>
                <button type="button" class="btn btn-dark" onclick="buttonNumber('8')">8</button>
            </td>
            <td>
                <button type="button" class="btn btn-dark" onclick="buttonNumber('9')">9</button>
            </td>
            <td>
                <button type="button" class="btn btn-dark" onclick="buttonNumber('*')">*</button>
            </td>

        </tr>

        <tr>
            <!-- 3rd Row -->
            <td>
                <button type="button" class="btn btn-dark" onclick="buttonNumber('4')">4</button>
            </td>
            <td>
                <button type="button" class="btn btn-dark" onclick="buttonNumber('5')">5</button>
            </td>
            <td>
                <button type="button" class="btn btn-dark" onclick="buttonNumber('6')">6</button>
            </td>
            <td>
                <button type="button" class="btn btn-dark" onclick="buttonNumber('-')">-</button>
            </td>

        </tr>

        <tr>
            <!-- 4th Row -->
            <td>
                <button type="button" class="btn btn-dark" onclick="buttonNumber('1')">1</button>
            </td>
            <td>
                <button type="button" class="btn btn-dark" onclick="buttonNumber('2')">2</button>
            </td>
            <td>
                <button type="button" class="btn btn-dark" onclick="buttonNumber('3')">3</button>
            </td>
            <td>
                <button type="button" class="btn btn-dark" onclick="buttonNumber('+')">+</button>
            </td>

        </tr>

        <tr>
            <!-- Bottom Row -->
            <td colspan="2">
                <button type="button" class="btn btn-dark btn0" onclick="buttonNumber('0')">0</button>
            </td>
            <td>
                <button type="button" class="btn btn-dark" onclick="buttonNumber('.')">.</button>
            </td>
            <td>
                <button type="button" class="btn btn-dark" onclick="calculateResult()">=</button>
            </td>

        </tr>

    </table>

    <!-- Calculator End -->

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>
</html>